*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;

}

header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

nav{
	color: #fff;
}
ul{
	float: right;
	list-style-type: none;

	margin-top: 35px;
}

ul li{
	display: inline-block;	
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 15px 50px;
	border: 1px solid transparent;

	transition: 0.6s ease;

}

ul li a:hover{
	background-color: #fff;
	color: #000;
}


.logo img{
	float: left;
	width: 150px;
	height: auto;

	margin-top: 10px;
}

.main{
	max-width: 1200px;
	margin: auto;
}
.imagegrid{
	position: absolute;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 4em;
	grid-row-gap: 0.5em; 
	top:52%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.imagegrid li {
	background-color: transparent;
	color: #fff;
	font-size: 17px;

}
.imagegrid button {
	background-color: #000;
	color: #fff;
	font-size: 20px;

}
.imagegrid button:hover {
	background-color: #ffd700;
	color: #000;
	font-size: 20px;
}